<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favi.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styling.css') }}" > -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
    <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    rel="stylesheet"
  />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>


<body>

    <header> </header>
    <!-- <div class="perspective effect-rotate-right">
      <div class="container"><div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
          <div class="l-wrapper"> -->
            <div class="app-container">
              <div class="app-header">
                <div class="app-header-left">
                  <!-- <a href="{{url_for('routes.about')}}"><span class="app-icon"></span> 
                  </a> -->
                  <a href="{{url_for('routes.about')}}" style="text-decoration: none;">
                      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="TimeX">
                    </a>
                    <p class="app-name">TimeX</p>
          
                  <!-- <div class="search-wrapper">
                    <input class="search-input" type="text" placeholder="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                      <defs></defs>
                      <circle cx="11" cy="11" r="8"></circle>
                      <path d="M21 21l-4.35-4.35"></path>
                    </svg>
                  </div> -->
                </div>

                <div class="app-header-right">
                  <button class="mode-switch" title="Switch Theme">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                      <defs></defs>
                      <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                  </button>


                  <!-- The Add Tasks button and the form -->
                <a class="add-btn" style="margin-left:6px;" href="#popup1" title="Add New Project">
                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                      <line x1="12" y1="5" x2="12" y2="19" />
                      <line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                </a>

                <div id="popup1" class="overlay">
                  <div class="popup">
                  
                  <div class="content" style="opacity:1">
                  <!-- <form action="{{ url_for('routes.add_todo')}}" method="POST">
                    {{ form.hidden_tag() }}

                    <a class="close" href="#">&times;</a>

                        <input type="text" name="title" placeholder="Title of the task">
                        <input type="text" name="description" placeholder="Description">
                        <input type="date" name="deadline" placeholder="New to-do task here" class="form-content">
                        <input type="submit" name="post" value="+ Add task">
                    
                  </form> -->

                  <div class="mx-auto max-w-xs" style="margin:0px 10px; margin-top:10px;">

                    <a class='close' href='#'>&times;</a>

                    <form method="POST" action="{{ url_for('routes.add_todo')}}">
                      {{ form.hidden_tag() }}
                    <div class="form-group">
        
                      {% if form.title.errors %}
                      {{ form.title(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white",
                      type="title", placeholder="Title") }}
        
                      <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {%else%}
                      {{ form.title(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white",
                      type="title", placeholder="Title") }}
                      
                      {% endif %}
                      </div>
                    <div class="form-group">
                      {% if form.description.errors %}
                      {{ form.description (class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="description", placeholder="Description" ) }}
                      <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {%else%}
                      {{ form.description(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="description", placeholder="Description" ) }}              
                      
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {% if form.deadline.errors %}
                      {{ form.deadline (class=" w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="date", placeholder="Deadline" ) }}
                      <div class="invalid-feedback">
                        {% for error in form.deadline.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {%else%}
                      {{ form.deadline(class=" w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="date", placeholder="Deadline" ) }}              
                      
                      {% endif %}
                    </div>
        
        
                  <div class="input_auth['submit']">
                    {{ form.submit(class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none", placeholder="Add tasks~") }}   
                  </div>
                </form>

                  </div>
                  

                  </div>
                </div>
                </div>
                
                <!-- The timer logic button and the form  -->
                  <a class="notification-btn" href="#popup2" style="margin-left:6px;margin-right:3px;">
                    <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-pie-chart" viewBox="0 0 24 24">
                      <defs />
                      <path d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z" />
                    </svg>
                    
                  </a>

                <div id="popup2" class="overlay">
                  <div class="popup">
                  
                  <div class="content" style="opacity:1">
                  <!-- <form action="{{ url_for('routes.add_todo')}}" method="POST">
                    {{ form.hidden_tag() }}

                    <a class="close" href="#">&times;</a>

                        <input type="text" name="title" placeholder="Title of the task">
                        <input type="text" name="description" placeholder="Description">
                        <input type="date" name="deadline" placeholder="New to-do task here" class="form-content">
                        <input type="submit" name="post" value="+ Add task">
                    
                  </form> -->

                  <div class="mx-auto max-w-xs" style="margin:0px 10px;margin-top:10px;">

                    <a class='close' href='#'>&times;</a>

                    <form method="POST" action="{{ url_for('routes.add_timer')}}">
                      {{ form1.hidden_tag() }}
                    <div class="form-group">
        
                      {% if form1.focus.errors %}
                      {{ form1.focus(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white",
                      type="focus", placeholder="Focus time") }}
        
                      <div class="invalid-feedback">
                        {% for error in form1.focus.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {%else%}
                      {{ form1.focus(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white",
                      type="focus", placeholder="Focus time") }}
                      
                      {% endif %}
                      </div>
                    <div class="form-group">
                      {% if form1.rest.errors %}
                      {{ form1.rest (class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="rest", placeholder="Rest time" ) }}
                      <div class="invalid-feedback">
                        {% for error in form1.rest.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {%else%}
                      {{ form1.rest(class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5",
                      type="rest", placeholder="Rest time" ) }}              
                      
                      {% endif %}
                    </div>
        
        
                  <div class="input_auth['submit']">
                    {{ form1.submit(class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none", placeholder="Start timer") }}   
                  </div>
                </form>

                  </div>
                  

                  </div>
                </div>
                </div>

                <!-- Other profile header details -->
                  <button class="profile-btn">
                    <img src="https://pyxis.nymag.com/v1/imgs/a95/a9b/5971469de6a615006b415046b50b575702-gong-yoo-squid-game-slap.rsquare.w700.jpg" />
                    {% if current_user.is_authenticated %}
          
                    <span> <a href="{{ url_for('settings.settings')}}">{{current_user.username}}</a></span>
                    <!-- ADD LOG OUT -->
                
                    {% else %}
                  
                    <span><a style="text-decoration: none;color:white;" href="{{url_for('auth.login')}}">SIGN IN</a></span>
                    {% endif %}
                  </button>
                </div>
            
              </div>
              <div class="app-content">
          
                  {% block content %} {% endblock %}

                <!-- <div class="messages-section">
                  <div class="projects-section-header">
                    <p>Timer</p>
                  </div>
                  <main class="gameboy">
                    <div class="gameboy__part gameboy__part--top">
                      <div class="gameboy__decoration gameboy__decoration--top">
                        <div class="gameboy__decoration-bars">
                        </div>
                        <div class="gameboy__decoration-box"></div>
                      </div>
                      <div class="upper-part">
                        <div class="upper-part__item"></div>
                        <div class="upper-part__item"></div>
                        <div class="upper-part__item"></div>
                      </div>
                      <div class="screen__container">
                        <div class="screen__main" style="overflow-y: auto;">
                          <div class="screen__overlay"></div>
                          <div class="ui fluid center aligned very padded text container segment" style="margin: 10px;
                          overflow-y: auto;">
                            <div id="timer">
                              <div class="time"></div>
                              <div class="ui blue progress">
                                <div class="bar"></div>
                                <div class="label">Session 1</div>
                              </div>
                              <button class="big ui labeled icon button switch play">
                                <i class="play icon"></i>
                                Play
                              </button>
                              <button class="big ui labeled icon button reset">
                                <i class="history icon"></i>
                               New
                              </button>
                            </div>
                            <div class="ui horizontal divider">SETTINGS</div>
                            <div id="session-control">
                              <div id="set-session">
                                <h3>Session Length</h3>
                                <button value="subtract-session" class="large ui icon button minus">
                                  <i class="minus icon"></i>
                                </button>
                                <span class="time"></span>
                                <button value="add-session" class=" large ui icon button plus">
                                  <i class="plus icon"></i>
                                </button>
                              </div>
                              <div id="set-break">
                                <h3>Break Length</h3>
                                <button value="subtract-break" class="large ui icon button minus">
                                  <i class="minus icon"></i>
                                </button>
                                <span class="time"></span>
                                <button value="add-break" class="large ui icon button plus">
                                  <i class="plus icon"></i>
                                </button>
                              </div>		
                            </div>
                          </div>
                      </div>
                      <div class="separator__container">
                        <div class="separator__line separator__line--left"></div>
                        <div class="separator__center">
                          <div class="separator__bar"></div>
                          <div class="separator__bar"></div>
                          <div class="separator__bar"></div>
                          <div class="separator__bar"></div>
                          <div class="separator__bar"></div>
                          <div class="separator__bar"></div>
                        </div>
                        <div class="separator__line separator__line--right"></div>
                      </div>
                    </div>
                    <div class="gameboy__part gameboy__part--bottom">
                      <div class="buttons__container">
                        <div class="direction direction__box">
                          <div class="direction__container">
                            <div class="direction__button direction__button--up"></div>
                            <div class="direction__button direction__button--left"></div>
                            <div class="direction__button direction__button--center">
                              <div class="direction__circle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.34 11.69">
                                  <path d="M5.84,10.19a4.35,4.35,0,0,1,0-8.69" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                </svg>
                              </div>
                            </div>
                            <div class="direction__button direction__button--right"></div>
                            <div class="direction__button direction__button--down"></div>
                          </div>
                        </div>
                        <div class="a-b__container">
                          <div class="a-b__button a-b__button--A">
                            <svg class="a-b__glow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.19 20.33">
                              <path d="M2,18.33A18.14,18.14,0,0,1,5.59,9.21" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
                              <path d="M12.67,3.58A18.2,18.2,0,0,1,38.19,18.33" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
                            </svg>
                            <svg class="a-b__shadow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.86 5.65">
                              <path d="M9.36,1.5a4.35,4.35,0,0,1-4,2.65A4.34,4.34,0,0,1,1.5,1.82" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                            </svg>
                          </div>
                          <div class="a-b__button a-b__button--B">
                            <svg class="a-b__glow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.19 20.33">
                              <path d="M2,18.33A18.14,18.14,0,0,1,5.59,9.21" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
                              <path d="M12.67,3.58A18.2,18.2,0,0,1,38.19,18.33" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
                            </svg>
                            <svg class="a-b__shadow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.86 5.65">
                              <path d="M9.36,1.5a4.35,4.35,0,0,1-4,2.65A4.34,4.34,0,0,1,1.5,1.82" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="start-select start-select__container">
                        <div class="start-select__button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.18 6.08">
                            <path d="M1.5,4.58V3.91A2.41,2.41,0,0,1,3.91,1.5H25.35" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            <path d="M31.54,1.5h5.73a2.41,2.41,0,0,1,2.41,2.41v.67" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                          </svg>
                        </div>
                        <div class="start-select__button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.18 6.08">
                            <path d="M1.5,4.58V3.91A2.41,2.41,0,0,1,3.91,1.5H25.35" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            <path d="M31.54,1.5h5.73a2.41,2.41,0,0,1,2.41,2.41v.67" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </main>
                </div> -->
              </div>
            </div>

<!-- </div>
</div>
</div>
</div> -->

  <footer> </footer>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/vendor/jquery-2.2.4.min.js") }}"><\/script>')</script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
  <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
