<head>
  <title>Timero | Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/home.css') }}"
  />
</head>

{% extends "_header.html" %} {% block content %}

<body>
  <nav class="l-side-nav">
    <ul class="side-nav">
      <li class="is-active"><span>Home</span></li>
      <li><span>About</span></li>
      <li><span>Reviews</span></li>
    </ul>
  </nav>
  <ul class="l-main-content main-content">
    <li class="l-section section section--is-active">
      <div class="intro">
        <div class="intro--banner">
          <h1>Try out your<br />new self with<br />TIMERO</h1>

          {% if current_user.is_authenticated %}

          <!-- Redirect users to the tasks after they are logged in -->
          <a href="{{ url_for('routes.tasks')}}">
            <button class="cta" style="color: white">
              Let's focus!
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 150 118"
                style="enable-background: new 0 0 150 118"
                xml:space="preserve"
              >
                <g
                  transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)"
                >
                  <path
                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"
                  />
                </g>
              </svg>
              <span class="btn-background"></span>
            </button>
          </a>

          {% else %}

          <a href="{{ url_for('auth.register')}}">
            <button class="cta" style="color: white">
              Join us
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 150 118"
                style="enable-background: new 0 0 150 118"
                xml:space="preserve"
              >
                <g
                  transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)"
                >
                  <path
                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"
                  />
                </g>
              </svg>
              <span class="btn-background"></span>
            </button>
          </a>

          <a href="{{ url_for('auth.login')}}">
            <button class="cta" style="color: white">
              Login
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 150 118"
                style="enable-background: new 0 0 150 118"
                xml:space="preserve"
              >
                <g
                  transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)"
                >
                  <path
                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"
                  />
                </g>
              </svg>
              <span class="btn-background"></span>
            </button>
          </a>
          {% endif %}

          <!-- <img src="url('static/img/hourglass.png')" class="floating"
                style="border: none; background-image: url('static/img/hourglass.png')">
                 -->

          <img
            src="{{ url_for('static', filename='img/hourglass.png') }}"
            alt="Welcome"
          />
        </div>

        <marquee
          behavior="scroll"
          direction="left"
          scrollamount="18"
          class="neon"
          style="font-family: 'DotGothic16', sans-serif; font-size: 70px"
        >
          Dive into the world of better time management with us, join today!
          (´♡‿♡`)
        </marquee>

      </div>
    </li>

    <!-- About section -->
    <li class="l-section section">
      <div class="work">
        <div class="row">
          <div class="col-md-6">
            <div class="site">
              <h1 class="site__title">Manage your time like a boss</h1>
              <h2 class="site__subtitle">
                Create timers and get personalized analysis
              </h2>
              <img
                class="site__img"
                src="{{ url_for('static', filename='img/homepage.png') }}"
              />
            </div>
          </div>
        </div>
      </div>
    </li>

    <!-- Testimonials from users go here -->
    <li class="l-section section">
      <div class="work">
        <div class="testimonial-container">
          <div class="progress-bar"></div>
          <div class="fas fa-quote-left fa-quote"></div>
          <div class="fas fa-quote-right fa-quote"></div>
          <p class="testimonial">
            A great product - I will be waiting to see it with more features and
            a more interactive intefrace. Otherwise, the idea and current
            prototype are amazing!
          </p>
        </div>
      </div>
    </li>
  </ul>
</body>

<script>
  const testimonialsContainer = document.querySelector(
    ".testimonials-container"
  );
  const testimonial = document.querySelector(".testimonial");

  const testimonials = [
    {
      text: "A great product - I will be waiting to see it with more features and a more interactive intefrace. Otherwise, the idea and current prototype are amazing!",
    },
    {
      text: "The product idea is great! I struggle with time management and I hope this app helps me with structuring work better, would love to see the finished product!",
    },
    {
      text: "I wonder what the product would look like when finished. Currently, it needs a bit more development but seems to be a good start!",
    },
  ];

  let index = 1;

  const updateTestimonial = () => {
    const { name, position, photo, text } = testimonials[index];
    testimonial.innerHTML = text;
    index++;
    if (index > testimonials.length - 1) index = 0;
  };

  setInterval(updateTestimonial, 5000);
</script>
{% endblock content %}
