<head>
    <title>TimeX | Home</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
        .neon {
            color: #fff;
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 25px blue,
                0 0 30px blue,
                0 0 40px blue,
                0 0 50px blue;
            }



        @keyframes floating {
            from { transform: translate(0,  0px); }
            65%  { transform: translate(0, 15px); }
            to   { transform: translate(0, -0px); }    
            }

    </style>
</head>

{% extends "_header.html" %} {% block content %}

<body>
    <nav class="l-side-nav">
        <ul class="side-nav">
          <li class="is-active"><span>Home</span></li>
          <li><span>Features</span></li>
        </ul>
      </nav>
      <ul class="l-main-content main-content">
        <li class="l-section section section--is-active">
          <div class="intro">
            <div class="intro--banner">
              <h1>Try out your<br>new self with<br>TIMERO</h1>

              {% if current_user.is_authenticated %}

              <!-- CHANGE HERE ADD LINK TO DASHBOARD -->
              <a href="{{ url_for('routes.dashboard')}}">
                <button class="cta" style="color:white;">Let's focus!
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                  <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                </g>
                </svg>
                <span class="btn-background"></span>
              </button>
              </a>
              
          
              {% else %}

              <a href="{{ url_for('auth.register')}}">
                <button class="cta" style="color:white;">Join us
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                  <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                </g>
                </svg>
                <span class="btn-background"></span>
              </button>
              </a>
              
              <a href="{{ url_for('auth.login')}}">
                  <button class="cta" style="color:white;">Login
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                    <span class="btn-background"></span>
                  </button>
              </a>
              {% endif %}

              <!-- <img src="url('static/img/hourglass.png')" class="floating"
                style="border: none; background-image: url('static/img/hourglass.png')">
                 -->
              
              <img src="{{ url_for('static', filename='img/hourglass.png') }}" alt="Welcome">
            </div>
            
            <marquee behavior="scroll" direction="left" scrollamount="18" class="neon" style="font-family:'DotGothic16', sans-serif; font-size: 70px;"> Dive into the world of better time management with us, join today! (´♡‿♡`) </marquee>

            
            <!-- <div class="intro--options">
              <a href="#0">
                <h3>Metiew &amp; Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
              </a>
              <a href="#0">
                <h3>Fantasy interactive</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
              </a>
              <a href="#0">
                <h3>Paul &amp; shark</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
              </a>
            </div> -->
          </div>
        </li>


        <li class="l-section section">
          <div class="work">
            <h2>Features</h2>
            <div class="work--lockup">
              <ul class="slider">
                <li class="slider--item slider--item-left">
                  <a href="#0">
                    <div class="slider--item-image">
                      <img src="{{ url_for('static', filename='img/work-victory.jpg') }}" alt="Focus time">
                    </div>
                    <p class="slider--item-title">Focus time</p>
                    <p class="slider--item-description">Track focused time and set your own standards. </p>
                  </a>
                </li>
                <li class="slider--item slider--item-center">
                  <a href="#0">
                    <div class="slider--item-image">
                      <img src="{{ url_for('static', filename='img/work-metiew-smith.jpg') }}" alt="Visualizations">
                    </div>
                    <p class="slider--item-title">Data Visualizations</p>
                    <p class="slider--item-description">See your progress report throughout the weeks.</p>
                  </a>
                </li>
                <li class="slider--item slider--item-right">
                  <a href="#0">
                    <div class="slider--item-image">
                      <img src="{{ url_for('static', filename='img/work-alex-nowak.jpg') }}" alt="Mini-games">
                    </div>
                    <p class="slider--item-title">Mini-games</p>
                    <p class="slider--item-description">Don't worry about the resting time and just play.</p>
                  </a>
                </li>
              </ul>
              <div class="slider--prev">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                  <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                  c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                  c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                </g>
                </svg>
              </div>
              <div class="slider--next">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                  <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
      </ul>

      
</body>
{% endblock content %}
