<head>
  <title>Settings</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/tasks.css') }}"
  />
</head>

{% from "_formhelpers.html" import render_field %} {% extends "_header.html" %}
{% block content %}

<!-- Simple settings page with the forms -->

<body>
  <nav class="l-side-nav">
    <ul class="side-nav">
      <li class="is-active"><span>Settings</span></li>
    </ul>
  </nav>
  <ul class="l-main-content main-content">
    <li class="l-section section section--is-active">
      <div class="intro">
        <h1 style="text-align: center">Account Settings</h1>

        <div class="wrapper">
          <div class="to-do">
            <div class="to-do__inner">
              <form method="post" action="/update_username">
                {{ form_update_username.hidden_tag() }} {{
                render_field(form_update_username.new_username, class="input",
                type="text", placeholder="Your new nickname here...") }} {%
                include "_messages.html" %}

                <!-- <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Update username</button> </div> -->
              </form>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="to-do">
            <div class="to-do__inner">
              <form method="post" action="/update_email">
                {{ form_update_email.hidden_tag() }} {{
                render_field(form_update_email.new_email, class="input",
                type="text", placeholder="Your new email here...") }} {% include
                "_messages.html" %}

                <!-- <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Update username</button> </div> -->
              </form>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="to-do">
            <div class="to-do__inner">
              <form method="post" action="/update_password">
                {{ form_update_password.hidden_tag() }} {{
                render_field(form_update_password.new_password, class="input",
                type="text", placeholder="Your new password here...") }} {%
                include "_messages.html" %}
                <!-- <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Update username</button> </div> -->
              </form>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="to-do">
            <div class="to-do__inner">
              <form method="post" action="/delete_account">
                {{ form_delete_account.hidden_tag() }} {{
                render_field(form_delete_account.username, class="input",
                type="text", placeholder="Type your username to delete
                account...") }} {% include "_messages.html" %}

                <!-- <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Update username</button> </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>

{% endblock content %}
