{% extends "_dash.html" %} {% block content %}


<div class="app-sidebar">
    <a href="{{url_for('routes.dashboard')}}" class="app-sidebar-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
        <polyline points="9 22 9 12 15 12 15 22" />
      </svg>
    </a>
    <a href="{{url_for('routes.window')}}" class="app-sidebar-link active">
      <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-pie-chart" viewBox="0 0 24 24">
        <defs />
        <path d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z" />
      </svg>
    </a>
    <a href="{{url_for('routes.games')}}" class="app-sidebar-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
        <line x1="16" y1="2" x2="16" y2="6" />
        <line x1="8" y1="2" x2="8" y2="6" />
        <line x1="3" y1="10" x2="21" y2="10" />
      </svg>
    </a>
    <a href="{{url_for('settings.settings')}}" class="app-sidebar-link">
      <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-settings" viewBox="0 0 24 24">
        <defs />
        <circle cx="12" cy="12" r="3" />
        <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" />
      </svg>
    </a>
  </div>

  
<div class="projects-section" style='overflow:scroll;margin-bottom:30px;'>
    <div class="projects-section-header">
      <p>Window</p>
        <div class="card">
        <div class="countdown">
         <div class="countdown__time">
          </div>
      </div>
      </div>
      <a  href="{{url_for('routes.games')}}" id="proceed" class="app-sidebar-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 25 25">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>      </a>
        </div>
    
    <div class="projects-section-line">
      <div class="projects-status">
        <div class="item-status">
          <span class="status-number">{{rest}}</span>
          <span class="status-type">Rest time</span>
        </div>
        <div class="item-status">
          <span class="status-number">{{focus}}</span>
          <span class="status-type">Focus time</span>
        </div>
      </div>
    </div>

    {% include "_alerts.html" %}
    <section>
      

      <div class='root_window'>
        <iframe width='100%' height='100%' src="https://www.youtube.com/embed/pl2-zgZBo5Y" frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        <div class='bottom_glass'></div>
        <div class='top_glass'>
          <div class='top_glass_snow'></div>
        </div>
        <div class='top_shadow'></div>
        <div class='bottom_shadow'></div>

      </div>
      
      <div class='pane_bottom'>
        <div class='pane_bottom_ball'></div>
      </div>
    </section>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  jQuery(function ($) {
  //   Function counts down from 1 minute, display turns orange at 20 seconds and red at 5 seconds.
  var countdownTimer = {
    init: function () {
      this.cacheDom();
      this.render();
    },
    cacheDom: function () {
      this.$el = $(".countdown");
      this.$time = this.$el.find(".countdown__time");
    },
    // bindEvents: function() {
    //   this.$reset.on('click', this.resetTimer.bind(this));
    // },
    render: function () {
      var totalTime = 60 * Number('{{focus}}'),
        display = this.$time;
      this.startTimer(totalTime, display);
      this.$time.removeClass("countdown__time--red");
      this.$time.removeClass("countdown__time--orange");
    },
    startTimer: function (duration, display, icon) {
      var timer = duration,
        minutes,
        seconds;
      var interval = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.text(minutes + ":" + seconds);
        if (--timer < 0) {
          clearInterval(interval);
        }
        if (timer < 60) {
          display.addClass("countdown__time--orange");
        }
        if (timer < 10) {
          display.addClass("countdown__time--red");
        }
      }, 1000);
    }
  };
  countdownTimer.init();
});

$('#proceed').hide().delay(Number('{{focus}}')*1000*60).show(0);

</script>
  {% endblock content %} 